aimir-mdms-iesco/src/main/resources/META-INF/webapp/WEB-INF/xsd/MeterReadings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://iec.ch/TC57/2011/MeterReadings#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2011/MeterReadings#">
<xs:annotation/>
<xs:element name="MeterReadings" type="m:MeterReadings"/>
<xs:complexType name="MeterReadings">
<xs:sequence>
<xs:element name="EndDeviceEventType" type="m:EndDeviceEventType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="MeterReading" type="m:MeterReading" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ReadingQualityType" type="m:ReadingQualityType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ReadingType" type="m:ReadingType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Asset">
<xs:annotation>
<xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval">
<xs:annotation>
<xs:documentation>Interval of date and time.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="end" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.end">
<xs:annotation>
<xs:documentation>End date and time of this interval.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="start" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.start">
<xs:annotation>
<xs:documentation>Start date and time of this interval.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EndDeviceEvent" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent">
<xs:annotation>
<xs:documentation>Event detected by a device function associated with end device.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="createdDateTime" minOccurs="1" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.createdDateTime">
<xs:annotation>
<xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="issuerID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.issuerID">
<xs:annotation>
<xs:documentation>Unique identifier of the business entity originating an end device control.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="issuerTrackingID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.issuerTrackingID">
<xs:annotation>
<xs:documentation>Identifier assigned by the initiator (e.g. retail electric provider) of an end device control action to uniquely identify the demand response event, text message, or other subject of the control action. Can be used when cancelling an event or text message request or to identify the originating event or text message in a consequential end device event.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.reason">
<xs:annotation>
<xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="severity" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.severity">
<xs:annotation>
<xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="source" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://landisgyr.com/v2/CIM-schema-ext#EndDeviceEvent.source">
<xs:annotation>
<xs:documentation>System that originally supplied the end device event (e.g., MDMS, AMI system, handheld reading system, another enterprise system, etc.).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="userID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.userID">
<xs:annotation>
<xs:documentation>(if user initiated) ID of user who initiated this end device event.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Assets" minOccurs="0" maxOccurs="1" type="m:Asset" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.Assets">
<xs:annotation>
<xs:documentation>All assets for which this activity record has been created.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDeviceEventDetails" minOccurs="0" maxOccurs="unbounded" type="m:EndDeviceEventDetail" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.EndDeviceEventDetails">
<xs:annotation>
<xs:documentation>All details of this end device event.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDeviceEventType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.EndDeviceEventType">
<xs:annotation>
<xs:documentation>Type of this end device event.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.status">
<xs:annotation>
<xs:documentation>Information on consequence of event resulting in this activity record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UsagePoint" minOccurs="0" maxOccurs="1" type="m:UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.UsagePoint">
<xs:annotation>
<xs:documentation>Usage point for which this end device event is reported.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EndDeviceEventDetail" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventDetail">
<xs:annotation>
<xs:documentation>Name-value pair, specific to end device events.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventDetail.name">
<xs:annotation>
<xs:documentation>Name.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="m:StringQuantity" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventDetail.value">
<xs:annotation>
<xs:documentation>Value, including unit information.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EndDeviceEventType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType">
<xs:annotation>
<xs:documentation>Detailed description for an event produced by an end device. Values in attributes allow for creation of recommended codes to be used for identifying end device events as follows: &amp;lt;type&amp;gt;.&amp;lt;domain&amp;gt;.&amp;lt;subDomain&amp;gt;.&amp;lt;eventOrAction&amp;gt;.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="domain" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.domain">
<xs:annotation>
<xs:documentation>High-level nature of the event. By properly classifying events by a small set of domain codes, a system can more easily run reports based on the types of events that have occurred or been received.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="eventOrAction" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.eventOrAction">
<xs:annotation>
<xs:documentation>The most specific part of this event type. It is mainly in the form of a verb that gives action to the event that just occurred.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="subDomain" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.subDomain">
<xs:annotation>
<xs:documentation>More specific nature of the event, as a further sub-categorisation of 'domain'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.type">
<xs:annotation>
<xs:documentation>Type of physical device from which the event was created. A value of zero (0) can be used when the source is unknown.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="1" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IntervalBlock" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock">
<xs:annotation>
<xs:documentation>Time sequence of readings of the same reading type. Contained interval readings may need conversion through the application of an offset and a scalar defined in associated pending.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="IntervalReadings" minOccurs="0" maxOccurs="unbounded" type="m:IntervalReading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock.IntervalReadings">
<xs:annotation>
<xs:documentation>Interval reading contained in this block.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PendingCalculation" minOccurs="0" maxOccurs="1" type="m:PendingCalculation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock.PendingCalculation">
<xs:annotation>
<xs:documentation>Pending calculation to apply to interval reading values contained by this block (after which the resulting reading type is different than the original because it reflects the conversion result).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock.ReadingType">
<xs:annotation>
<xs:documentation>Type information for interval reading values contained in this block.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IntervalReading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalReading">
<xs:annotation>
<xs:documentation>Data captured at regular intervals of time. Interval data could be captured as incremental data, absolute data, or relative data. The source for the data is usually a tariff quantity or an engineering quantity. Data is typically captured in time-tagged, uniform, fixed-length intervals of 5 min, 10 min, 15 min, 30 min, or 60 min.</xs:documentation>
<xs:documentation>Note: Interval Data is sometimes also called "Interval Data Readings" (IDR).</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="reportedDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.reportedDateTime">
<xs:annotation>
<xs:documentation>(used only when there are detailed auditing requirements) Date and time at which the reading was first delivered to the metering system.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="source" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.source">
<xs:annotation>
<xs:documentation>System that originally supplied the reading (e.g., customer, AMI system, handheld reading system, another enterprise system, etc.).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="timeStamp" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementValue.timeStamp">
<xs:annotation>
<xs:documentation>The time when the value was last updated</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.value">
<xs:annotation>
<xs:documentation>Value of this reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingQualities" minOccurs="0" maxOccurs="unbounded" type="m:ReadingQuality" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.ReadingQualities">
<xs:annotation>
<xs:documentation>All qualities of this reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="timePeriod" minOccurs="0" maxOccurs="1" type="m:DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.timePeriod">
<xs:annotation>
<xs:documentation>Start and end of the period for those readings whose type has a time attribute such as 'billing', seasonal' or 'forTheSpecifiedPeriod'.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Meter">
<xs:annotation>
<xs:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Asset.status">
<xs:annotation>
<xs:documentation>Status of this asset.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MeterReading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading">
<xs:annotation>
<xs:documentation>Set of values obtained from the meter.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="isCoincidentTrigger" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.isCoincidentTrigger">
<xs:annotation>
<xs:documentation>If true, this meter reading is the meter reading for which other coincident meter readings are requested or provided.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDeviceEvents" minOccurs="0" maxOccurs="unbounded" type="m:EndDeviceEvent" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.EndDeviceEvents">
<xs:annotation>
<xs:documentation>All end device events associated with this set of measured values.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IntervalBlocks" minOccurs="0" maxOccurs="unbounded" type="m:IntervalBlock" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.IntervalBlocks">
<xs:annotation>
<xs:documentation>All interval blocks contained in this meter reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Meter" minOccurs="0" maxOccurs="1" type="m:Meter" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.Meter">
<xs:annotation>
<xs:documentation>Meter providing this reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Readings" minOccurs="0" maxOccurs="unbounded" type="m:Reading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.Readings">
<xs:annotation>
<xs:documentation>All reading values contained within this meter reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UsagePoint" minOccurs="0" maxOccurs="1" type="m:UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.UsagePoint">
<xs:annotation>
<xs:documentation>Usage point from which this meter reading (set of values) has been obtained.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="valuesInterval" minOccurs="0" maxOccurs="1" type="m:DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.valuesInterval">
<xs:annotation>
<xs:documentation>Date and time interval of the data items contained within this meter reading.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
<xs:annotation>
<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name">
<xs:annotation>
<xs:documentation>Any free text that name the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameType" minOccurs="0" maxOccurs="1" type="m:NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType">
<xs:annotation>
<xs:documentation>Type of this name.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
<xs:annotation>
<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
<xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
<xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description">
<xs:annotation>
<xs:documentation>Description of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name">
<xs:annotation>
<xs:documentation>Name of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameTypeAuthority" minOccurs="0" maxOccurs="1" type="m:NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description">
<xs:annotation>
<xs:documentation>Description of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name">
<xs:annotation>
<xs:documentation>Name of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PendingCalculation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation">
<xs:annotation>
<xs:documentation>When present, a scalar conversion that needs to be applied to every IntervalReading.value contained in IntervalBlock. This conversion results in a new associated ReadingType, reflecting the true dimensions of IntervalReading values after the conversion.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="multiplyBeforeAdd" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.multiplyBeforeAdd">
<xs:annotation>
<xs:documentation>Whether scalars should be applied before adding the 'offset'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="offset" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.offset">
<xs:annotation>
<xs:documentation>(if applicable) Offset to be added as well as multiplication using scalars.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="scalarDenominator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarDenominator">
<xs:annotation>
<xs:documentation>(if scalar is rational number) When 'IntervalReading.value' is multiplied by 'scalarNumerator' and divided by this value, it causes a unit of measure conversion to occur, resulting in the 'ReadingType.unit'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="scalarFloat" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarFloat">
<xs:annotation>
<xs:documentation>(if scalar is floating number) When multiplied with 'IntervalReading.value', it causes a unit of measure conversion to occur, according to the 'ReadingType.unit'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="scalarNumerator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarNumerator">
<xs:annotation>
<xs:documentation>(if scalar is integer or rational number)  When the scalar is a simple integer, and this attribute is presented alone and multiplied with 'IntervalReading.value', it causes a unit of measure conversion to occur, resulting in the 'ReadingType.unit'. It is never used in conjunction with 'scalarFloat', only with 'scalarDenominator'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.ReadingType">
<xs:annotation>
<xs:documentation>Reading type resulting from this pending conversion.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RationalNumber" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RationalNumber">
<xs:annotation>
<xs:documentation>Rational number = 'numerator' / 'denominator'.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="denominator" minOccurs="1" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RationalNumber.denominator">
<xs:annotation>
<xs:documentation>Denominator. Value 1 indicates the number is a simple integer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="numerator" minOccurs="1" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RationalNumber.numerator">
<xs:annotation>
<xs:documentation>Numerator.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Reading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading">
<xs:annotation>
<xs:documentation>Specific value measured by a meter or other asset, or calculated by a system. Each Reading is associated with a specific ReadingType.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="reason" minOccurs="0" maxOccurs="1" type="m:ReadingReasonKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading.reason">
<xs:annotation>
<xs:documentation>Reason for this reading being taken.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reportedDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.reportedDateTime">
<xs:annotation>
<xs:documentation>(used only when there are detailed auditing requirements) Date and time at which the reading was first delivered to the metering system.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="source" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.source">
<xs:annotation>
<xs:documentation>System that originally supplied the reading (e.g., customer, AMI system, handheld reading system, another enterprise system, etc.).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="timeStamp" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementValue.timeStamp">
<xs:annotation>
<xs:documentation>The time when the value was last updated</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.value">
<xs:annotation>
<xs:documentation>Value of this reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingQualities" minOccurs="0" maxOccurs="unbounded" type="m:ReadingQuality" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.ReadingQualities">
<xs:annotation>
<xs:documentation>All qualities of this reading.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading.ReadingType">
<xs:annotation>
<xs:documentation>Type information for this reading value.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="timePeriod" minOccurs="0" maxOccurs="1" type="m:DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.timePeriod">
<xs:annotation>
<xs:documentation>Start and end of the period for those readings whose type has a time attribute such as 'billing', seasonal' or 'forTheSpecifiedPeriod'.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReadingInterharmonic" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingInterharmonic">
<xs:annotation>
<xs:documentation>Interharmonics are represented as a rational number 'numerator' / 'denominator', and harmonics are represented using the same mechanism and identified by 'denominator'=1.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="denominator" minOccurs="1" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingInterharmonic.denominator">
<xs:annotation>
<xs:documentation>Interharmonic denominator. Value 0 means not applicable. Value 2 is used in combination with 'numerator'=1 to represent interharmonic 1/2. Finally, value 1 indicates the harmonic of the order specified with 'numerator'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="numerator" minOccurs="1" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingInterharmonic.numerator">
<xs:annotation>
<xs:documentation>Interharmonic numerator. Value 0 means not applicable. Value 1 is used in combination with 'denominator'=2 to represent interharmonic 1/2, and with 'denominator'=1 it represents fundamental frequency. Finally, values greater than 1 indicate the harmonic of that order (e.g., 'numerator'=5 is the fifth harmonic).</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReadingQuality" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality">
<xs:annotation>
<xs:documentation>Quality of a specific reading value or interval reading value. Note that more than one quality may be applicable to a given reading. Typically not used unless problems or unusual conditions occur (i.e., quality for each reading is assumed to be good unless stated otherwise in associated reading quality type). It can also be used with the corresponding reading quality type to indicate that the validation has been performed and succeeded.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="comment" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.comment">
<xs:annotation>
<xs:documentation>Elaboration on the quality code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="source" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.source">
<xs:annotation>
<xs:documentation>System acting as the source of the quality code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="timeStamp" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.timeStamp">
<xs:annotation>
<xs:documentation>Date and time at which the quality code was assigned or ascertained.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReadingQualityType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.ReadingQualityType">
<xs:annotation>
<xs:documentation>Type of this reading quality.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReadingQualityType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType">
<xs:annotation>
<xs:documentation>Detailed description for a quality of a reading value, produced by an end device or a system. Values in attributes allow for creation of recommended codes to be used for identifying reading value quality codes as follows: &amp;lt;systemId&amp;gt;.&amp;lt;category&amp;gt;.&amp;lt;subCategory&amp;gt;.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="category" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.category">
<xs:annotation>
<xs:documentation>High-level nature of the reading value quality.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="subCategory" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.subCategory">
<xs:annotation>
<xs:documentation>More specific nature of the reading value quality, as a further sub-categorisation of 'category'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="systemId" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.systemId">
<xs:annotation>
<xs:documentation>Identification of the system which has declared the issue with the data or provided commentary on the data.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="1" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ReadingReasonKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingReasonKind">
<xs:annotation>
<xs:documentation>Reason for the reading being taken.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="billing">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in response to a billing-related inquiry by a customer or other party. A variant of 'inquiry'.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="demandReset">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with the resetting of one or more demand registers in a meter.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="inquiry">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in response to an inquiry by a customer or other party.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="installation">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with installation of a meter.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="loadManagement">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken to support management of loads on distribution networks or devices.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="loadResearch">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken to support research and analysis of loads on distribution networks or devices.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="moveIn">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with a customer move-in event.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="moveOut">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with a customer move-out event.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="other">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken for some other reason or purpose.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="removal">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with removal of a meter.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="serviceConnect">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with a connection or re-connection of service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="serviceDisconnect">
<xs:annotation>
<xs:documentation>Reading(s) taken or to be taken in conjunction with a disconnection of service.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType">
<xs:annotation>
<xs:documentation>Detailed description for a type of a reading value. Values in attributes allow for creation of recommended codes to be used for identifying reading value types as follows: &amp;lt;macroPeriod&amp;gt;.&amp;lt;aggregate&amp;gt;.&amp;lt;measuringPeriod&amp;gt;.&amp;lt;accumulation&amp;gt;.&amp;lt;flowDirection&amp;gt;.&amp;lt;commodity&amp;gt;.&amp;lt;measurementKind&amp;gt;.&amp;lt;interharmonic.numerator&amp;gt;.&amp;lt;interharmonic.denominator&amp;gt;.&amp;lt;argument.numerator&amp;gt;.&amp;lt;argument.denominator&amp;gt;.&amp;lt;tou&amp;gt;.&amp;lt;cpp&amp;gt;.&amp;lt;consumptionTier&amp;gt;.&amp;lt;phases&amp;gt;.&amp;lt;multiplier&amp;gt;.&amp;lt;unit&amp;gt;.&amp;lt;currency&amp;gt;.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="accumulation" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.accumulation">
<xs:annotation>
<xs:documentation>Accumulation behaviour of a reading over time, usually 'measuringPeriod', to be used with individual endpoints (as opposed to 'macroPeriod' and 'aggregate' that are used to describe aggregations of data from individual endpoints).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="aggregate" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.aggregate">
<xs:annotation>
<xs:documentation>Salient attribute of the reading data aggregated from individual endpoints. This is mainly used to define a mathematical operation carried out over 'macroPeriod', but may also be used to describe an attribute of the data when the 'macroPeriod' is not defined.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="commodity" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.commodity">
<xs:annotation>
<xs:documentation>Commodity being measured.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="consumptionTier" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.consumptionTier">
<xs:annotation>
<xs:documentation>In case of common flat-rate pricing for power, in which all purchases are at a given rate, 'consumptionTier'=0. Otherwise, the value indicates the consumption tier, which can be used in conjunction with TOU or CPP pricing.</xs:documentation>
<xs:documentation>Consumption tier pricing refers to the method of billing in which a certain "block" of energy is purchased/sold at one price, after which the next block of energy is purchased at another price, and so on, all throughout a defined period. At the start of the defined period, consumption is initially zero, and any usage is measured against the first consumption tier ('consumptionTier'=1). If this block of energy is consumed before the end of the period, energy consumption moves to be reconed against the second consumption tier ('consumptionTier'=2), and so on. At the end of the defined period, the consumption accumulator is reset, and usage within the 'consumptionTier'=1 restarts.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="cpp" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.cpp">
<xs:annotation>
<xs:documentation>Critical peak period (CPP) bucket the reading value is attributed to. Value 0 means not applicable. Even though CPP is usually considered a specialised form of time of use 'tou', this attribute is defined explicitly for flexibility.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.currency">
<xs:annotation>
<xs:documentation>Metering-specific currency.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="flowDirection" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.flowDirection">
<xs:annotation>
<xs:documentation>Flow direction for a reading where the direction of flow of the commodity is important (for electricity measurements this includes current, energy, power, and demand).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="macroPeriod" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.macroPeriod">
<xs:annotation>
<xs:documentation>Time period of interest that reflects how the reading is viewed or captured over a long period of time.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="measurementKind" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.measurementKind">
<xs:annotation>
<xs:documentation>Identifies "what" is being measured, as refinement of 'commodity'. When combined with 'unit', it provides detail to the unit of measure. For example, 'energy' with a unit of measure of 'kWh' indicates to the user that active energy is being measured, while with 'kVAh' or 'kVArh', it indicates apparent energy and reactive energy, respectively. 'power' can be combined in a similar way with various power units of measure: Distortion power ('distortionVoltAmperes') with 'kVA' is different from 'power' with 'kVA'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="measuringPeriod" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.measuringPeriod">
<xs:annotation>
<xs:documentation>Time attribute inherent or fundamental to the reading value (as opposed to 'macroPeriod' that supplies an "adjective" to describe aspects of a time period with regard to the measurement). It refers to the way the value was originally measured and not to the frequency at which it is reported or presented. For example, an hourly interval of consumption data would have value 'hourly' as an attribute. However in the case of an hourly sampled voltage value, the meterReadings schema would carry the 'hourly' interval size information.</xs:documentation>
<xs:documentation>It is common for meters to report demand in a form that is measured over the course of a portion of an hour, while enterprise applications however commonly assume the demand (in kW or kVAr) normalised to 1 hour. The sytem that receives readings directly from the meter therefore must perform this transformation before publishing readings for use by the other enterprise systems. The scalar used is chosen based on the block size (not any sub-interval size).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="multiplier" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.multiplier">
<xs:annotation>
<xs:documentation>Metering-specific multiplier.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="phases" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.phases">
<xs:annotation>
<xs:documentation>Meteric-specific phase code.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="tou" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.tou">
<xs:annotation>
<xs:documentation>Time of use (TOU) bucket the reading value is attributed to. Value 0 means not applicable.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="unit" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.unit">
<xs:annotation>
<xs:documentation>Metering-specific unit.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="argument" minOccurs="0" maxOccurs="1" type="m:RationalNumber" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.argument">
<xs:annotation>
<xs:documentation>Argument used to introduce numbers into the unit of measure description where they are needed (e.g., 4 where the measure needs an argument such as CEMI(n=4)). Most arguments used in practice however will be integers (i.e., 'denominator'=1).</xs:documentation>
<xs:documentation>Value 0 in 'numerator' and 'denominator' means not applicable.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="interharmonic" minOccurs="0" maxOccurs="1" type="m:ReadingInterharmonic" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.interharmonic">
<xs:annotation>
<xs:documentation>Indication of a "harmonic" or "interharmonic" basis for the measurement. Value 0 in 'numerator' and 'denominator' means not applicable.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="1" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status">
<xs:annotation>
<xs:documentation>Current status information relevant to an entity.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="dateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.dateTime">
<xs:annotation>
<xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.reason">
<xs:annotation>
<xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="remark" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.remark">
<xs:annotation>
<xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.value">
<xs:annotation>
<xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePoint">
<xs:annotation>
<xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="StringQuantity" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#StringQuantity">
<xs:annotation>
<xs:documentation>Quantity with string value (when it is not important whether it is an integral or a floating point number) and associated unit information.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string"/>
</xs:simpleType>
</xs:schema>
